*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary: #0F117A;
    --secondary:#8C8888;
}

body,p,ul,li,a{
    cursor: pointer;
    font-family: 'Lucida Sans';
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p{
    line-height: 20px;
}

/*navigation*/
.nav-content .nav-ul ul{
    display: none;

}

.nav-search{
    display: none;
    justify-content: flex-start;
    width: 40%;
    line-height: 50px;
    margin: auto;
    
}

.nav-search-img{
    width: 50px;
    padding-right: 60px;
}

.nav-search-img img{
    height: 20px;
    border-right: 1px solid white;
    padding: 0 30px 0 0;
}

.nav-search .nav-news {
    font-size: 0.7em;
    color: white;
    line-height: 50px;
    padding-left: 20px;
}

.none{
    display: none;
}

nav{
    position: fixed;
    width: 100%;
}

.none{
    background-color: var(--primary);
    line-height: 30px;
    color: white;
    font-size: 0.6em;
    width: 90%;
    margin: auto;
}

.none .nav-news,.none .nav-ul ul li:not(:last-child){
    border-bottom: 1px solid var(--secondary);
    
}

.none .nav-news,.none .nav-ul ul li{
    
    padding: 5px 10px;
    color: white;
}

.none .nav-ul ul li a{
    display: block;
    color: white;
    font-weight: 900;
}

.nav-bar{
    background-color: var(--primary);
    height: 50px;
    line-height: 50px;
}

.nav-content{
    padding: 5px 0px;
    height: 50px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.nav-logo{
    line-height: 50px;
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.nav-logo .nav-heading{
    color: white;
    margin-bottom: 10px;
    line-height: 40px;
}

.nav-logo-img{
    margin-left: -16px;
}


.nav-logo-img img{
    width: 2.4em;
}

.nav-menu div{
    padding: 2px;
    margin-top: 4px;
    width: 20px;
    background-color: white;
}

.nav-menu{
    padding-top: 4px;
}

/*welcome*/

.welcome{
    background-image: url(Rectangle\ 4.png);
    background-position: center;
    background-size: cover;
}

.welcome-text{
    color: white;
    padding: 150px 0;
    text-align: center;
}

.welcome-text h2{
    margin: 0 20px;
}



/*sec1*/
#academy{
    background-image: url(Rectangle\ 9.png);
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
}

.sec1{
    width: 90%;
    margin: 50px auto 0;
}

.sec1-text h2{
    color: var(--secondary);
    font-weight: 900;
    font-size: 1.03em;
}

.sec1-text p{
    margin-top: 20px;
    color: var(--secondary);
    font-size: 0.7em;
}

.sec1-button ul{
    margin-top: 70px;
}

.sec1-button ul li{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    background-color: #0F117A;
    margin-top: 2px;
    text-align: center;
}

.sec1-button ul li:nth-child(5){
    background-color: #0D77D9;
}

.sec1-button ul li a{
    font-size: 0.7em;
    color: white;
    font-weight: 900;    
}

.sec1-img-div{
    width: 70%;
    margin:100px auto 0;
}

.sec1-img{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.sec1-img .img1 img{
    width: 100%;
}

.sec1-img .img1 h4{
    background-color: white;
    padding: 10px 10px;
    margin-top: -4px;
    text-align: center;
    color: var(--secondary);
    font-size: 0.7em;
}
/*article*/

.article{
    background: url(Someone.jpg) no-repeat,var(--primary);
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}

.article-div{
    line-height: 10px;
    padding: 0px 0 10px 0;
    text-align: center;
    font-size: 0.7em;
    color: white;
    opacity: 1;
}

.article-apply-text{
    opacity: 1;
}

.article-apply{
    padding: 30px 0;
    width: 90%;
    margin: auto;
    background-image: url(Rectangle\ 15.png);
}

.article-apply h1{
    font-size: 1.6em;
    margin-bottom: 20px;
}

.article-apply p{
    line-height: 20px;
    width: 90%;
    margin: auto;
}

.article-btn{
    width: 70%;
    margin:30px auto;
}
.article-btn a{
    color: black;
    padding: 15px;
    background-color: white;
}


/*footer*/

.footer{
    width: 100%;
}

.footer-div-1{
    color: var(--primary);
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid var(--secondary);
}

.footer-text{
    text-align: center;
    padding: 20px 0 70px;
    border-bottom: 2px solid var(--secondary);

}

.footer-text p{
    font-size: 0.7em;
    margin-top: 10px;
}

.footer-text h5{
    font-size: 1em;
    color: var(--primary);
}

.copyright{
    display: flex;
    font-size: 0.6em;
    color: white;
    background-color: black;
}

.copyright-text{
    width: 80%;
}

.copyright-text{
    font-size: 0.9em;
}


.copyright-social{
    display: flex;
}


.copyright-social img{
    width: 10px;
    margin-left: 10px;
}









/*660pxxxxx*/

@media screen and (min-width:550px){
    body{
        font-size: 19px;
    }
    

    /*
    Navigation
    */

    
.none .nav-news,.none .nav-ul ul li{
    
    padding: 10px 10px;
}

    .none{
        line-height: 30px;
        color: white;
        font-size: 0.8em;
        width: 90%;
        margin: auto;
    }

    
.nav-bar{
    background-color: var(--primary);
    height: 60px;
    line-height: 60px;
}

.nav-content{
    padding: 2px 0px;
    height: 60px;
    line-height: 60px;
}

.nav-logo{
    display: flex;
    width: 90%;
    justify-content: space-around;
    line-height: 50px;
}

.nav-heading h3{
    font-size: 1.4em;
}

.nav-logo-img{
    margin-left: -20px;
}

.nav-logo-img img{
    width: 2.7em;
}

.nav-menu div{
    padding: 3px;
    margin-top: 5px;
    width: 30px;
}

.nav-menu{
    padding-top: 4px;
}



    /*welcome*/
    
.welcome-text{
    padding: 200px 0;
}




        
.sec1{
    width: 85%;
    margin: 50px auto 0;
}

.sec1-text h2{
    font-size: 1.3em;
}

.sec1-text p{
    font-size: 0.7em;
}

.sec1-button ul{
    margin-top: 90px;
}

.sec1-button ul li{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    background-color: #0F117A;
    margin-top: 2px;
    text-align: center;
}

.sec1-button ul li:nth-child(5){
    background-color: #0D77D9;
}

.sec1-button ul li a{
    font-size: 0.72em;   
}

.sec1-img-div{
    width: 70%;
    margin:100px auto 0;
}

.sec1-img{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.sec1-img .img1 h4{
    padding: 15px 10px;
    margin-top: -4px;
}


    /*Article*/
    
.article-div{
    font-size: 0.66em;
}

.article-apply{
    padding: 60px 0;
}

.article-apply h1{
    font-size: 1.9em;
    margin-bottom: 50px;
}

.article-apply p{
    width: 80%;
}

.article-btn{
    width: 80%;
    margin:60px auto 0;
}
.article-btn a{
    color: black;
    padding: 15px 30px;
}





/*footer*/


.footer-div-1{
    padding: 50px 0;
}

.footer-div-1 h3{
    font-size: 1.3em;
}

.footer-text{
    text-align: center;
    padding: 30px 0 50px;
}

.footer-text p{
    font-size: 0.7em;
    margin-top: 14px;
}

.copyright{
    display: flex;
    font-size: 0.7em;
    justify-content: space-around;
}

.copyright-text{
    width: 80%;
    margin: auto;
}

.copyright-text p{
    width: 80%;
}

.copyright-social{
    display: flex;
    justify-content: space-around;
}

.copyright-social img{
    width: 15px;
    margin:0 10px;
}
}






@media screen and (min-width:750px){
    body{
        font-size: 21px;
    }

    .nav-search{
        display: flex;
    }

    .none{
        font-size: 0.6em;
    }
            
.nav-bar{
    background-color: var(--primary);
    height: 60px;
    line-height: 60px;
}

.nav-content{
    padding: 4px 0px;
    height: 60px;
    line-height: 60px;
    width: 87%;
    margin: auto;
}

.nav-logo{
    justify-content: flex-start;
    line-height: 50px;
    display: flex;
    width: 40%;
}
.nav-logo .nav-heading{
    color: white;

}

.nav-heading h3{
    font-size: 0.8em;
}

.nav-logo-img{
    margin: 4px 6px;

}

.nav-logo-img img{
    width: 2em;

}

.nav-menu div{
    padding: 2px;
    margin-top: 4px;
    width: 20px;
    background-color: white;
}

.nav-menu{
    padding-top: 4px;
}


.welcome-text{
    color: white;
    padding: 250px 0;
    text-align: center;
}


.welcome-text h2::before{
    content: url(Ellipse\ 2.png);
    margin-right: 20px;
    width: 20px;
}

.welcome-text h2::after{
    content: url(Ellipse\ 2.png);
    margin-left: 20px;
}

.sec1{
    width: 95%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.sec1-text{
    width: 60%;
}

.sec1-button{
    width: 35%;
}

.sec1-text h2{
    color: var(--secondary);
    font-weight: 900;
    font-size: 1.1em;
}

.sec1-text p{
    margin-top: 20px;
    color: var(--secondary);
    font-size: 0.6em;
}


.sec1-button ul{
    margin-top: 0px;
}

.sec1-button ul li{
    width: 100%;
    margin: auto;
    padding: 35px 20px;
    background-color: #0F117A;
    text-align: center;
    height: 100%;
}


.sec1-button ul li:not(:first-child){
    margin-top: 2px;
}

.sec1-button ul li a{
    font-size: 0.6em;
    color: white;
    font-weight: 900;    
}

.sec1-img-div{
    width: 80%;
    margin:100px auto 0;
}

.sec1-img{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 40px;
}

.sec1-img .img1{
    width: 80%;
    margin: auto;
}

.sec1-img .img1:nth-child(3){
    grid-column : 1/3;
    grid-row: 2;
    width: 45%;
    margin: auto;
}

.sec1-img .img1 h4{
    font-size: 0.6em;
}




/*article*/


.article-div{
    line-height: 10px;
    font-size: 0.6em;
}

.article-apply{
    padding: 30px 0;
    width: 80%;
}

.article-apply h1{
    font-size: 1.8em;
    margin-bottom: 30px;
}

.article-apply p{
    line-height: 20px;
    width: 85%;
    margin: auto;
    font-size: 1em;
}

.article-btn{
    width: 70%;
    margin:30px auto;
}
.article-btn a{
    padding: 15px 40px;
}


/*footer*/

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-div-1{
    width: 100%;
    margin: auto;
    color: var(--primary);
    text-align: center;
    padding: 30px 0x;
    border-bottom: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
}

.footer-text{
    text-align: center;
    padding: 50px 0 70px;
    border-bottom: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);

}

.footer-text p{
    font-size: 0.6em;
    margin-top: 10px;
}

.footer-div-1 h3{
    font-size: 1.2em;
}

.footer-text h5{
    font-size: 0.9em;
    color: var(--primary);
}

.copyright{
    padding: 10px 0;
    display: flex;
    font-size: 0.5em;
    color: white;
    background-color: black;
}

.copyright-social{
    display: flex;
}


.copyright-social img{
    width: 14px;
    margin: 0 10px;
}

}



@media screen and (min-width:990px){
    /*navigation*/

    .nav-menu{
        display: none;

    }
    .nav-content .nav-ul ul{
        display: inline-flex;
        justify-content: space-between;
        width: 400px;
        height: 60px;
    }

    .nav-search{
        width: 20%;
    }

    .nav-content .nav-ul ul li a{
        color: white;
        font-size: 0.7em;
        align-self: center;
    }

        
    .nav-content{
        padding: 4px 0px;
        height: 60px;
        line-height: 50px;
        width: 95%;
        margin: auto;
    }

    .nav-logo{
        justify-content: flex-start;
        line-height: 50px;
        display: flex;
        width: 40%;
    }


    
/*welcome*/

.welcome-text{
    color: white;
    padding: 200px 0;
    text-align: center;
}


/*sec1*/

    .sec1-text h2{
        font-size: 1.3em;
    }

    .sec1-text p{
        font-size: 0.7em;
    }


.sec1-button ul li{
    width: 100%;
    margin: auto;
    padding: 30px 0;
    background-color: #0F117A;
}


.sec1-button ul li a{
    font-size: 0.755em;   
}


    
.sec1-img-div{
    width: 90%;
    margin:100px auto 0;
}

.sec1-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
    
.sec1-img .img1{
    width: 100%;
    margin:100px auto 180px;
}


.sec1-img .img1:nth-child(3){
    grid-column : 1/1;
    grid-row: 1;
    width: 100%;
    margin:100px auto 180px;
}

.sec1-img .img1 h4{
    font-size: 0.8em;
}

    

/*article*/
.article-div{
    line-height: 10px;
    font-size: 0.7em;
}

.article-apply{
    padding: 100px 0;
    width: 70%;
}

.article-apply h1{
    margin-bottom: 35px;
}

.article-btn{
    width: 70%;
    margin:70px auto;
}


        
/*footer*/

.footer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-div-1{
    width: 100%;
    margin: auto;
    color: var(--primary);
    text-align: center;
    padding: 30px 0x;
    border-bottom: none;
    border-right: 2px solid var(--secondary);
}

.footer-text{
    padding: 50px 0 70px;
    border-bottom: none;
    border-right: 2px solid var(--secondary);
}

.footer-text p{
    padding: 10px 0;
    font-size: 0.7em;
    margin-top: 10px;
}

.footer-div-1 h3{
    font-size: 1em;
}

.footer-text h5{
    font-size: 1em;
    color: var(--primary);
}

.copyright{
    padding: 10px 0;
    display: flex;
    font-size: 0.7em;
    color: white;
    background-color: black;
}

.copyright-text{
    width: 85%;
}

.copyright-social img{
    width: 18px;
    margin: 0 10px;
}


}

@media screen and (min-width:1440px){
.welcome-text{
    color: white;
    padding: 300px 0;
    text-align: center;
    font-size: 1.4em;
}

.sec1-text{
    width: 55%;
}

.sec1-button{
    width: 30%;
}

/*sec1*/

    .sec1-text h2{
        font-size: 1.5em;
    }

    .sec1-text p{
        font-size: 0.8em;
    }


.sec1-button ul li{
    padding: 25px 0;
}

.sec1-img .img1 h4{
    font-size: 0.9em;
}

.sec1-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.sec1-img .img1 h4{
    background-color: white;
    padding: 20px 10px;
    font-size: 0.8em;
}

   
.sec1-img .img1{
    width: 80%;
}


.sec1-img .img1:nth-child(3){
    width: 80%;
}
    
   

/*article*/
.article-div{
    line-height: 10px;
    font-size: 0.8em;
}

.article-apply{
    padding: 100px 0;
    width: 55%;
}

.article-apply h1{
    margin-bottom: 35px;
}

.article-btn{
    width: 70%;
    margin:70px auto;
}




}
